{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:jsdoc/recommended",
    "plugin:regexp/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "jsdoc", "regexp"],
  "rules": {
    "prefer-const": "warn",
    "no-empty-function": "warn",
    "jsdoc/require-jsdoc": "off",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-member-accessibility": ["warn", { "accessibility": "explicit" }],
    "@typescript-eslint/explicit-function-return-type": "warn"
  },
  "ignorePatterns": ["out", "dist", "**/*.d.ts"]
}
