# directories
.github
.vscode
.vscode-test
node_modules
src
out

# files
.editorconfig
.eslintignore
**/.eslintrc
.gitignore
.prettierignore
.prettierrc
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
images/preview.gif
