### VSCode
.vscode/
.vscode-test/

### Sources
src/
**/*.map
**/*.ts

### Project
.github/
.trunk/
.yarn/
node_modules/
.editorconfig
.eslintrc
.eslintignore
.gitignore
.prettierrc
.prettierignore
.yarnrc.yml
tsconfig.json
images/preview.gif
